@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user_id = ViewData["username"];
}

<h2>Table Data</h2>

<button class="btn btn-danger m-4" id="add_bpkb">Add BPKB</button>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Aggrement Number</th>
            <th>No. BPKB</th>
            <th>Branch ID</th>
            <th>BPKB Date</th>
            <th>Faktur No</th>
            <th>Faktur Date</th>
            <th>Location Id</th>
            <th>Police No</th>
            <th>BPKB Date In</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Last Update By</th>
            <th>Last Update On</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/list-bpkb.js"></script>
}