@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="loading-screen">
    <div class="spinner"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Location Name</label>
                <input id="location_name" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row p-2">
                <button id="btn_save_loc" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col">
            <div class="row p-2">
                <button id="btn_cancel_loc" type="button" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/add-location.js"></script>
}