@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Table Data Storage Location</h2>

<button class="btn btn-danger m-4" id="add_storage">Add Storage</button>

<table id="myTableLoc" class="display">
    <thead>
        <tr>
            <th>Location Id</th>
            <th>Location Name</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/list-location.js"></script>
}